<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>
</head>
<body>
<ul>
    <li>
        <% if (locals.stores) { %>
            <% stores.forEach(store => { %>
                ID: <%= store.store_id; %>
            <% }) %>
        <% } %>
    </li>
</ul>
</body>
</html>