<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title ;%>
    </title>
</head>
<body>
<% if (locals.stores) { %>
    <% stores.forEach(store => { %>
        <li><a href="/store/<%= encodeURIComponent(store.store_id) ;%>">Store: <%= store.store_name; %> </a></li>
    <% }) %>
<% } %>
</body>
</html>