<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>
</head>
<body>
<% if (locals.store) { %>
    <div><%= store.store_id %></div>
    <div><%= store.store_name %></div>
    <div><%= store.store_location%></div>
    <a href="/">Go back to Main Page</a>
<% } %>
</body>
</html>